
.semana-dia{
    width: 14.3%;
}

.dias-do-mes{
    display:flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    width: 60%;
}

.dia{
    text-align: center;
    width: 14.3%;
}

.Mes
{
    display:table;
    margin:1em 1em 0;
    border-spacing:0;
    border-collapse:collapse;
}

.grid{
    display:flex;
    justify-content: center;
    width: 100%;
}
.calendario-mes{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;

}
.Meses{
    display:flex;
    flex-wrap:wrap;
    justify-content:center
}



.ano{
    width: 33%;
}
.fade-enter {
    opacity: 0.01;
    transform: translateX(20px);
  }
  
  .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
    transform: translateX(0px);
  }
  
  .fade-leave {
    opacity: 1;
    transform: translateX(0px);
  }
  
  .fade-leave.fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
    transform: translateX(-20px);
  }



  